# SPDX-FileCopyrightText: Pavel Zhukov <pavel@zhukoff.net>
#
# SPDX-License-Identifier: MIT


BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
	##OEROOT##/meta \
	##OEROOT##/meta-moelinux \
	##OEROOT##/meta-oe \
	##OEROOT##/meta-openembedded \
	##OEROOT##/meta-poky \
	##OEROOT##/meta-riscv \
	##OEROOT##/meta-selftest \
	##OEROOT##/meta-skeleton \
	##OEROOT##/meta-virtualization \
	##OEROOT##/meta-yocto-bsp \
	"

