# SPDX-FileCopyrightText: Pavel Zhukov <pavel@zhukoff.net>
#
# SPDX-License-Identifier: MIT


BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
	##OEROOT##/../core/meta \
	##OEROOT##/../meta-moelinux \
	##OEROOT##/../meta-openembedded/meta-oe \
	##OEROOT##/../meta-openembedded/meta-multimedia \
	##OEROOT##/../meta-openembedded/meta-networking  \
	##OEROOT##/../meta-openembedded/meta-python \
	##OEROOT##/../meta-riscv \
	"

